results-path: \"/home/pweather\"
dataset_start_date:
  year: 1980
  month: 1
  day: 1
  hour: 6
dataset_end_date:
  year: 1981
  month: 12
  day: 31
  hour: 18
node-properties:
%{ for ip in ips ~}
  - ip: \"${ip}\"
    port: 8000
%{ endfor ~}