export NDRANK=${ndrank}
export KAFKA_HOST=${kafka_host}
export NODE_ID=${node_id}

export SERVICE=${service}
export REPOSITORY=${repository}
export LOW_SERVICE=${low_service}
export LOW_REPOSITORY=${low_repository}
export USE_PARAMETERS=${use_parameters}