[Unit]
Description=Kafka's zookeeper service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pweather
ExecStart=/home/pweather/zookeeper-script.sh

[Install]
WantedBy=multi-user.target